/* 
welcome  */


.welcome-container{
    border-radius: 25px;
    background-color:#363945;
    height: 300px;
    width: 1600px;
    margin: 0 auto;
    color: white;
   
    
}

/* 
navbar */

.navbar_links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;


  }
  /* .navbar_links:hover {
    transition: all 0.2s ease-out;
    background-color: transparent;
    color:red;
    border-radius: 1px;
  } */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
    overflow: hidden;
    background-color:#363945;
    
  }
  li {
    float: left;
    list-style-type: none;
    
  }

  li a:hover {

    color:#646e83
  }

  .search-container{
    width:250px;
    padding-top:0px;
    height:50px;
    margin-right:5px;
    display:inline-block;
  }

  #search-bar{
    height:30px;
    width:250px;

    display:inline-block;
  }

  #search-submit{

    display:inline-block;
  }




/* game  */


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

 input[id=synopsis]{
    height:250px
  }

 .addgame-form,label{
     text-align: left;
 }


  .addgame-form{
    padding: 50px;
    border-radius: 25px;
    background-color:#363945;

    width: 1600px;
    margin: 0 auto;
    color: white;
   
    
}

#genre1{
  width: 100px;
}

#genre2,#genre3,#genre4{
  margin-left:10px;
  width:100px;
}

/* 
Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#363945;
    color: white;
    text-align: center;
    padding:1px;
 }

 /* gamelist */




 .gamelist-box{
    padding: 50px;
    border-radius: 25px;
    width: 1600px;
    height:700px;
    margin: 0 auto;
    background-color:#363945;
    color: #363945;
 }
 
 #edit-image{
  width: 50px;
  height:50px;
 }

 #delete-image{
  width: 50px;
  height:50px;
 }

#edit-button{
  background-color:#363945;

  border: none;
  cursor: pointer;
  outline: none;
  margin: auto;
  display: block;
  float:right;
  padding-right: 0px;
  margin-top:22px;
}
#delete-button{
  background-color:#363945;
  height:100px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: auto;
  display: block;
  float:right;
  margin-right:5px;
}

 .gamelist-table {

  width: 1500px;

}
 
 .gamelist-table td{
  
  padding: 10px;
  text-align: center;
  border: 1px solid;

  font-size: 150%;

  
}

.gamelist-table th{
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid;
  

}

.score-box{
  color:#6495ED


}
#image-Header{
  width:100px;

}

#title-Header{
  width:300px;

}

.rating-Header{
  width:75px;
  color:white;
}
.status-Header{
  width:150px;
  color:white;

}

.review-Header{
  width:150px;
  color:white;

}

.arrow-container {
  float:left;
  width:100%;

}
.arrow-container button {


}





.card-container{
  width: 300px;
  overflow:hidden;
  box-shadow: 0px 0px 8px -5px;
  float:left;
}


.card-image img{
  overflow:hidden;
  height:200px;

}



  /* login */
  
  .login-form,label{
    text-align: left;
}


 .login-form{
   padding: 50px;
   border-radius: 25px;
   background-color:#363945;

   width: 600px;
   margin: 0 auto;
   color: white;
  
   
}

/* game details */

.gameDetails-form{
  padding: 50px;
  border-radius: 25px;
  background-color:#363945;

  width: 1500px;
  height: 700px;
  margin: 0 auto;
  color: white;
 
  
}
.gameDetails-imagebox{
  
  width: 325px;
  height: 325px;
  left: 10px;
  
  background-color:#363945;

}
.gameDetails-imagebox img{

  max-width: 100%;
  max-height: 100%;

}

.gameDetails-main label{
  font-weight: bold;

}





